################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bloggie/.vs
/Bloggie/Bloggie.Web/bin/Debug/net8.0
/Bloggie/Bloggie.Web/obj
